body {
    background-color: lavender;
    padding: 20px;
}
h1 {
    padding: 20px;
    background: white;
    border-radius: 40px;
}

p{
    background-color: #6756BE;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    padding: 20px;
}